h1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBRFERnFXlKGwALj61yCTYOatSvugGZZ1muw&usqp=CAU);
    text-align: center;
    border: solid;
    border-radius: 20px;
    margin: 50px;
    padding: 20px;
    color: white;
}
p{
    direction: rtl;
    font-size: 25px;
}
div{
    direction: rtl;
    font-size: 30px;
    border: solid;
     
}